{% extends 'base.html' %}
{% block title %}
Farmers
{% endblock title %}
{% block home %}
menu-active
{% endblock home %}

{% block body %}
  
  <!-- ======= Footer ======= -->
  <!-- ======= Footer ======= -->
<footer id="footer" style="background-image: url('/farmer system/static/images/b_g.avif'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>Krishak</h3>
          <p>
            A Partner in Your Hard Work, A New Path to Prosperity<br>
            <strong>Email:</strong> support@krishak.com<br>
            <strong>Phone:</strong> +91 123 456 7890<br>
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="/about">About Us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/services">Services</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/products">Agro Products</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/contact">Contact</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="/equipment">Equipment Sharing</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/marketplace">Marketplace</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/support">Farmer Support</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Join Our Community</h4>
          <p>Stay connected with other farmers and get updates about the latest innovations and offers.</p>
          <div class="social-links mt-3">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="credits">
      <br>
      &copy; 2024 Krishak. All Rights Reserved | Developed by <a href="/">TUSHTEE</a>
    </div>
  </div>
</footer><!-- End Footer -->
{% endblock body %}